@model List<AuthManage.Application.DTOModel.MenuDto>

@foreach (var tem in Model)
{
    if (tem.Name == "功能顶级增加")
    {
        <a href="@tem.Address" class="btn-default" style="margin-right:10px" title="功能顶级增加"><i class="glyphicon glyphicon-plus-sign"></i></a>
    }
}