
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AuthManage.Application.DTOModel.RoleDto

<div class="main sidebar-minified">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-align-left red"></i><strong>修改</strong>
        </div>
        @using (Html.BeginForm("Edit", "Role", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.ID)
            <div class="form-horizontal">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "red" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-record"></i>确认</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-ban-circle"></i>重置</button>
            </div>
        }
    </div>
</div>

