/*自定义css*/
/*jquery-validation-unobstructive验证中引入了这个类作为作为单个验证错误时的显示颜色，因此只需要定义这个颜色即可*/
.field-validation-error{
    color:#C32F10;
}
/*jquery-validation-unobstructive验证中引入了这个类作为作为模型整体验证错误时的显示颜色，因此只需要定义这个颜色即可*/
.validation-summary-errors {
    color: #C32F10;
}
.label_new{
    margin-left:20px;
}


