@model List<AuthManage.Application.DTOModel.MenuDto>

<li>
    @{
        bool configFlag = false;
    }
    @foreach(var menu in Model)
    {
        if(menu.Name== "组织机构管理"||menu.Name=="角色管理"|| menu.Name == "用户管理" || menu.Name == "功能管理" || menu.Name == "角色授权")
        {
            configFlag = true;
        }
    }
    @if (configFlag == true)
    {
        <a href="/Configure/Index"><i class="glyphicon glyphicon-asterisk"></i><span style="color:floralwhite">配置管理</span></a>
    }
</li>

<li>
    @{
        bool businessFlag = false;
    }
    @foreach (var menu in Model)
    {
        if (menu.Name == "项目管理" || menu.Name == "硬件管理" || menu.Name == "条目管理")
        {
            businessFlag = true;
        }
    }
    @if (businessFlag == true)
    {
        <a href="/Business/Index"><i class="glyphicon glyphicon-th"></i><span style="color:floralwhite">业务管理</span></a>
    }
</li>

<li>
    @{
        bool toolFlag = false;
    }
    @foreach (var menu in Model)
    {
        if (menu.Name == "链路预算")
        {
            toolFlag = true;
        }
    }
    @if (toolFlag)
    {
        <a href="/Tool/Index"><i class="glyphicon glyphicon-wrench"></i><span style="color:floralwhite">工具栏</span></a>
    }
</li>


