@model List<AuthManage.Application.DTOModel.MenuDto>

@foreach (var tem in Model)
{
    if (tem.Name == "用户删除")
    {
        <a href="~/User/Delete/@ViewBag.userID" class="btn btn-danger" onclick="return Delete()"><i class="glyphicon glyphicon-trash"></i></a>
    }
}