
@{
    Layout = null;
}

@model List<AuthManage.Application.DTOModel.MenuDto>

@foreach (var tem in Model)
{
    if (tem.Name == "硬件删除")
    {
        <a href="@tem.Address/@ViewBag.hardwareID" class="btn btn-danger" onclick="return Delete()"><i class="glyphicon glyphicon-trash"></i></a>
    }

}
