
@{
    Layout = null;
}

@model List<AuthManage.Application.DTOModel.MenuDto>

@foreach (var tem in Model)
{
    if (tem.Name == "条目修改")
    {
        <a href="@tem.Address/@ViewBag.ItemID" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i></a>
    }

}

