<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <!--css-->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.min.css" />
        <!--script-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/core.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!--css-->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.min.css" />
        <!--script-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/core.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
</head>
<body>
    <!--start:header-->
    <div class="navbar" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-actions navbar-left">
                <li class="visible-md visible-lg"><a href="#" id="main-menu-toggle"><i class="glyphicon glyphicon-th-large"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-actions navbar-right">
                <li>
                    <span style="color:azure">欢迎您，@ViewBag.User</span>
                </li>
                <li><a href="~/Login/Index"><i class="glyphicon glyphicon-log-out"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <!-- start: sidebar -->
            <div class="sidebar ">
                <div class="sidebar-collapse">
                    <div class="sidebar-header t-center">
                        <span><img class="text-logo" src="~/images/logo.ico"><i class="h2">国恒空间</i></span>
                    </div>
                    <br />
                    <div class="sidebar-menu">
                        <ul class="nav nav-sidebar">
                            @await Component.InvokeAsync("Navigation");
                            <li>
                                <a href="#" style="background-color:transparent;"><i class="glyphicon glyphicon-edit"></i>业务管理<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                                <ul>
                                    <li><a href="~/Project/Index" rel="noopener noreferrer"><i class="glyphicon glyphicon-globe"></i>项目管理</a></li>
                                    <li><a href="~/Hardware/Index" rel="noopener noreferrer"><i class="glyphicon glyphicon-screenshot"></i>硬件管理</a></li>
                                    <li><a href="~/Item/Index" rel="noopener noreferrer"><i class="glyphicon glyphicon-list-alt"></i>条目管理</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @*<div class="sidebar-menu">
                     
                        <ul class="nav nav-sidebar">
            <li>
                <a href="~/Department/Index" style="background-color:transparent;"><i class="glyphicon glyphicon-align-justify"></i>组织机构管理</a>
            </li>
            <li>
                <a href="~/Role/Index" style="background-color:transparent;"><i class="glyphicon glyphicon-compressed"></i>角色管理</a>
            </li>
            <li>
                <a href="~/User/Index" style="background-color:transparent;"><i class="glyphicon glyphicon-user"></i>用户管理</a>
            </li>
            <li>

                <a href="~/Menu/Index" style="background-color:transparent;"><i class="glyphicon glyphicon-asterisk"></i>功能管理</a>
            </li>
            <li>
                <a href="~/RoleMenu/Index" style="background-color:transparent;"><i class="glyphicon glyphicon-briefcase"></i>角色授权</a>
            </li>
            <li>
                <a href="#" style="background-color:transparent;"><i class="glyphicon glyphicon-edit"></i>业务管理<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                <ul>
                    <li><a href="~/Project/Index"  rel="noopener noreferrer"><i class="glyphicon glyphicon-globe"></i>项目管理</a></li>
                    <li><a href="~/Haedware/Index" rel="noopener noreferrer"><i class="glyphicon glyphicon-screenshot"></i>硬件管理</a></li>
                </ul>
            </li>
        </ul>
                    </div>*@
                </div>
                <div class="sidebar-footer">
                    <div class="sidebar-brand">
                        <span style="color:cornsilk">
                            Copyright © 2018
                        </span>
                    </div>
                    <ul class="sidebar-terms">
                        <li>成都国恒空间技术工程有限公司</li>
                        <li>版权所有</li>
                    </ul>
                </div>
            </div>
            <!-- start: Content -->
            @RenderBody()
        </div>
    </div>
    <!--end:container-->
</body>
</html>

