@model List<AuthManage.Application.DTOModel.MenuDto>

@foreach (var tem in Model)
{
    if (tem.Name == "角色修改")
    {
        <a href="~/Role/Edit/@ViewBag.roleID" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i></a>
    }
}
