
@model List<AuthManage.Application.DTOModel.MenuDto>

@foreach (var menu in Model)
{
    if (menu.Name == "链路预算")
    {
        <a href="@menu.Address" class="custom3" target="_blank">@menu.Name</a>
    }
}


<style type="text/css">
    .custom3 {
        float: left;
        width: 100px;
    }
</style>

